
@font-face {
  font-family: 'Merriweather';
  src: url('../static/fonts/Merriweather-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../static/fonts/Merriweather-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html, body {
  height: 100%;
  font-family: 'Merriweather';
}
body {
  background-color: #E0FCFF;
  color: #102A43;
}
.container {
   max-width: 50rem;
   margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #243B53;
}

a:hover {
  color: #647ACB;
}
.link-hover-none:hover {
  color: #243B53;
}

.content {
  background-color: white;
  padding: 20px;
}
